<% content_for :page_title do %>
  <%= Spree.t(:editing_resource, resource: Spree::Vendor.model_name.human) %>
<% end %>

<%= render 'settings' %>

<div class="row translations">
  <div class="col-md-4">
    <%= render 'fields' %>
  </div>
  <div class="col-md-8">
    <%= form_for [:admin, @resource.id, @resource], url: spree.admin_vendor_path(@vendor.id) do |f| %>
      <%= render 'form_fields', f: f %>
      <div class="form-actions" data-hook="buttons">
        <%= button Spree.t(:update), 'update' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t(:cancel), spree.edit_admin_vendor_url(@vendor.id), icon: 'remove' %>
      </div>
    <% end %>
  </div>
</div>
