<% unless params[:controller] == 'spree/vendors' %>
  <div class="w-100 card plp-filters-card">
    <% collapsed = params[:vendors].blank? %>

    <button class="card-header <%= 'collapsed' if collapsed %> px-1 plp-filters-card-header" id="filtersVendor" data-toggle="collapse" data-target="#collapseFilterVendor" aria-expanded="<%= !collapsed %>" aria-controls="collapseFilterVendor" role="heading" aria-level="2">
      <%= Spree.t('plp.vendor') %>
      <%= icon(name: 'plus',
              classes: 'mt-1 float-right arrow plp-filters-card-header-arrow--plus',
              width: 16,
              height: 16) %>
      <%= icon(name: 'minus',
              classes: 'mt-1 float-right arrow plp-filters-card-header-arrow--minus',
              width: 16,
              height: 16) %>
    </button>
    <div id="collapseFilterVendor" class="collapse <%= 'show' unless collapsed %>" aria-labelledby="filtersVendor">
      <div class="card-body px-0 pt-1">
        <% Spree::Vendor.active.find_each do |vendor| %>
          <%= link_to permitted_params.merge({ vendors: vendor.id }), class: "d-block" do %>
            <div class="d-inline-block py-1 px-2 m-1 text-uppercase plp-filters-card-item <%= 'plp-filters-card-item--selected' if params[:vendors].to_s.split(',').include?(vendor.id.to_s) %>">
              <%= vendor.name %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
