<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @vendor } %>
<div class="form-group">
  <%= f.field_container :name do %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  <% end %>
  <%= f.field_container :about_us do %>
    <%= f.label :about_us %>
    <%= f.text_area :about_us, class: 'form-control' %>
  <% end %>
  <%= f.field_container :contact_us do %>
    <%= f.label :contact_us %>
    <%= f.text_area :contact_us, class: 'form-control' %>
  <% end %>
  <%= f.field_container :state do %>
    <%= f.label :state %>
    <%= f.select :state,
      options_for_select(vendor_state_options, selected: @vendor.state),
      {}, class: 'select2', required: :required %>
  <% end %><br>

  <% if Spree.version.to_f >= 3.6 %>
    <%= f.field_container :image do %>
      <%= f.label :image %>&nbsp;
      <%= f.file_field :image %>
      <%= image_tag main_app.url_for(@vendor.image.url(:small)) if @vendor.image %>
    <% end %>
  <% end %><br>

  <% if Spree.version.to_f >= 3.6 %>
    <%= f.field_container :banner do %>
      <%= f.label :banner %>
      <%= f.file_field :banner %>
      <%= image_tag main_app.url_for(@vendor.banner.url(:small)) if @vendor.banner %>
    <% end %>
  <% end %>
 
  <%= f.field_container :commission_rate do %>
    <%= f.label :commission_rate %>
    <%= f.number_field :commission_rate, step: '0.01', class: 'form-control' %>
  <% end %>
 
  <%= f.field_container :notification_email do%>
    <%= f.label :notification_email %>
    <%= f.email_field :notification_email, class: 'form-control' %>
  <% end %><br>


  <div class="card mb-4">
    <div class="card-header">
      <h1 class="card-title mb-0 h5">
        <%= Spree.t(:social) %>
      </h1>
    </div>
    <div class="card-body">
      
      <%= f.field_container :facebook do %>
        <%= f.label :facebook, Spree.t(:facebook) %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">https://facebook.com</span>
          </div>
          <%= f.text_field :facebook, class: 'form-control' %>
        </div>
        <%= f.error_message_on :facebook %>
      <% end %>
      <%= f.field_container :twitter do %>
        <%= f.label :twitter, Spree.t(:twitter) %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">https://twitter.com</span>
          </div>
          <%= f.text_field :twitter , class: 'form-control' %>
        </div>
        <%= f.error_message_on :twitter %>
      <% end %>
      <%= f.field_container :instagram do %>
        <%= f.label :instagram, Spree.t(:instagram) %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">https://instagram.com</span>
          </div>
          <%= f.text_field :instagram, class: 'form-control' %>
        </div>
        <%= f.error_message_on :instagram %>
      <% end %>
    </div>
  </div>

</div>
