<% content_for :page_title do %>
  <%= Spree.t(plural_resource_name(Spree::Vendor)) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_vendor), new_object_url, { class: "btn-success", icon: 'add', id: 'admin_new_vendor' } %>
<% end if can?(:create, Spree::Vendor) %>

<div class="filter-wrap row">
  <div class="col-12">
    <div class="input-group index-filter-button">
      <span class="input-group-btn">
        <button class="btn" type="button">
          <%= Spree.t(:filter) %>
        </button>
      </span>
      <%= form_tag request.fullpath, id: "quick-search", class: 'flex-grow-1' do %>
        <%= text_field_tag :quick_search, nil, class: "form-control js-quick-search", placeholder: Spree.t(:quick_search) %>
      <% end %>
    </div>
    <div id="table-filter" data-hook class="card bg-light filter-well">
      <div class="card-body">
        <div data-hook="admin_vendors_index_search">
          <%= search_form_for [:admin, @search] do |f| %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= label_tag :q_name_cont, Spree.t(:name) %>
                  <%= f.text_field :name_cont, tabindex: 1, class: "form-control js-quick-search-target" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= label_tag :q_state_eq, Spree.t(:state) %>
                  <%= f.select :state_eq, Spree::Vendor.state_machines[:state].states.collect { |s| [Spree.t("vendor_states.#{s.name}"), s.value] }, { include_blank: true }, class: 'select2 js-filterable' %>
                </div>
              </div>
            </div>
            <div data-hook="admin_vendors_index_search_buttons" class="form-actions">
              <%= button Spree.t(:filter_results), 'search' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <% selected = params[:q][:state_eq].present? %>
    <%= link_to Spree.t(:all), admin_vendors_path, class: "btn #{selected ? 'btn-outline-secondary' : 'btn-secondary'}" %>
    <% Spree::Vendor.state_machines[:state].states.collect.each do |state| %>
      <%= link_to Spree.t("vendor_states.#{state.name}"), params.permit(:per_page, {:q => [:name_cont]}).merge({ 'q[state_eq]': state.value }), class: "btn #{selected && params[:q][:state_eq] == state.value ? 'btn-secondary' : 'btn-outline-secondary'}" %>
    <% end %>
  </div>
</div>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>
    
<% if @vendors.any? %>
  <table class="table sortable" data-hook="vendors_table" data-sortable-link="<%= update_positions_admin_vendors_url %>">
    <thead>
      <tr data-hook="vendors_header">
        <th>
          <%= I18n.t(:priority, scope: 'activerecord.attributes.spree/vendor') %>
        </th>
        <th>
          <%= sort_link @search, :name, I18n.t(:name, scope: 'activerecord.attributes.spree/vendor') %>
        </th>
        <th>
          <%= sort_link @search, :state, I18n.t(:state, scope: 'activerecord.attributes.spree/vendor') %>
        </th>
        <th>
          <%= I18n.t(:about_us, scope: 'activerecord.attributes.spree/vendor') %>
        </th>
        <th>
          <%= I18n.t(:contact_us, scope: 'activerecord.attributes.spree/vendor') %>
        </th>
        <% if Spree.version.to_f >= 3.6 %>
          <th>
            <%= I18n.t(:image, scope: 'activerecord.attributes.spree/vendor') %>
          </th>
        <% end %>
        <th>
          <%= sort_link @search, :created_at, I18n.t(:created_at, scope: 'activerecord.attributes.spree/vendor') %>
        </th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @vendors.each do |vendor| %>
        <tr id="<%= spree_dom_id vendor %>" data-hook="vendors_row">
          <td class="move-handle text-center">
            <span class="icon icon-move handle"></span>
          </td>
          <td>
            <%= vendor.name %>
          </td>
          <td>
            <span class="label label-<%= vendor.state.downcase %>"><%= vendor.state.humanize.downcase %></span>
            <span class="icon icon-filter filterable js-add-filter" data-ransack-field="q_state_eq" data-ransack-value="<%= vendor.state %>"></span>
          </td>
          <td>
            <%= vendor.about_us&.truncate(20) %>
          </td>
          <td>
            <%= vendor.contact_us&.truncate(20) %>
          </td>
          <% if Spree.version.to_f >= 3.6 %>
            <td>
              <%= image_tag main_app.url_for(vendor.image.url(:mini)) if vendor.image %>
            </td>
          <% end %>
          <td>
            <%= pretty_time(vendor.created_at) %>
          </td>
          <td class="actions actions-2 text-right">
            <%= link_to_edit vendor, no_text: true, class: 'edit' if can?(:edit, vendor) %>
            <!-- Add translation icon support -->
            <%= link_to_with_icon 'translate',
                                  nil,
                                  spree.admin_translations_path('vendor', vendor.id),
                                  title: Spree.t(:'i18n.translations'),
                                  class: 'btn btn-sm btn-primary' if defined? (SpreeGlobalize)%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Vendor)) %>
  </div>
<% end %>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>
