<% content_for :page_title do %>
  <%= @vendor.name %>
<% end %>

<%= form_for [:admin, @vendor], url: admin_vendor_settings_url do |f| %>
  <fieldset>
    <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @vendor } %>
    <div class="form-group">
      <%= f.field_container :name do %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :image do %>
        <%= f.label :image %>
        <%= f.file_field :image %>
        <%= image_tag main_app.url_for(@vendor.image.url(:small)) if @vendor.image %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :about_us do %>
        <%= f.label :about_us %>
        <%= f.text_area :about_us, class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :contact_us do %>
        <%= f.label :contact_us %>
        <%= f.text_area :contact_us, class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :notification_email do %>
        <%= f.label :notification_email %>
        <%= f.email_field :notification_email, class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'save' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), admin_vendor_settings_url, icon: 'delete' %>
    </div>
  </fieldset>
<% end %>
